@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Micro+5&display=swap');

/* --- Content --- */

.content-header {
	display: flex;
	align-items: center;
	gap: 30px;
}

.content-header span::before {
	content: "";
	background: url("https://img.icons8.com/?size=100&id=62214&format=png&color=000000") no-repeat;
	background-size: contain;
	float: left;
	width: 38px;
	height: 38px;
	padding-right: 15px;
}

.content-header p {
	font-size: 18px;
	font-weight: 500;
	margin-right: 3rem;
}

.content-header a {
	text-decoration: none;
	color: black;
}

.content-header button {
	margin: 10px 0 10px 0;
	border-radius: 5px;
	border-style: none;
	background-color: #406191;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.content-header button:hover {
	background-color: #36527c;
	transition: 200ms;
}

.add-item {
	flex-grow: 1;
}

.arrows {
	margin-right: 3rem;
}

.arrows i {
	padding: 3px;
}

.box-container {
	width: 800px;
	height: 440px;
	margin-left: 3rem;
	background-color: #fff;
	border-style: solid;
	border-color: #dcdcdc;
	border-radius: 10px 10px 5px 5px;
	border-width: 7px 0 0 0;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
	padding: 20px;
}

.edit-cell {
	display: flex;
	justify-content: space-evenly;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr.table-header {
	font-size: 18px;
	font-weight: bold;
	border-color: #dcdcdc;
	border-style: solid;
	border-width: 0 0 1px 0;
}

th {
	padding: 8px 20px 15px 20px;
}

td {
	padding: 8px 20px 8px 20px;
}

/* td:last-child {
	display: flex;
	flex-direction: row;
	gap: 1rem;
} */

button.edit {
	aspect-ratio: 1/1;
	background-color: #406191;
	border-radius: 50%;
	border-style: none;
	outline: none;
	cursor: pointer;
	width: 25px;
}

button.edit:hover {
	background-color: #36527c;
	transition: 200ms;
}

button.delete {
	aspect-ratio: 1/1;
	background-color: #FE6251;
	border-radius: 50%;
	border-style: none;
	cursor: pointer;
	width: 25px;
}

button.delete:hover {
	background-color: #db5445;
	transition: 200ms;
}

.content-header button {
	margin: 10px 0 10px 0;
	border-radius: 5px;
	border-style: none;
	background-color: #406191;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.content-header button:hover {
	background-color: #36527c;
	transition: 200ms;
}

/*My modal css*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
