@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Micro+5&display=swap');

.content-header span {
	font-size: 30px;
	font-weight: 400;
}

.content-header span::before {
	content: '';
	background: url('https://img.icons8.com/?size=100&id=115272&format=png&color=000000') no-repeat;
	background-size: contain;
	float: left;
	width: 38px;
	height: 38px;
	padding-right: 15px;
}

.content-header p {
	font-size: 18px;
	font-weight: 500;
	float: right;
	margin-right: 3rem;
}

.content-header a {
	text-decoration: none;
	color: black;
}

.box-container {
	width: 400px;
	margin-left: 3rem;
	background-color: #fff;
	border-style: solid;
	border-color: #DCDCDC;
	border-radius: 10px 10px 5px 5px;
	border-width: 7px 0 0 0;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
}

.form-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	height: 250px;
}

.form-group {
	margin: 10px;
}

.form-group input {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    margin: 5px 0 5px 0;
    padding: 10px;
    border-style: solid;
    border-color: #7F7F7F;
    border-radius: 5px;
    width: 300px;    /* Could mess up its dynamic structure */
    outline: none;
}

.content-container button {
	margin: 10px 0 10px 0;
	padding: 6px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    background-color: #5B85C1;
    color: #fff;
	font-size: 16px;
	font-weight: 500;
    cursor: pointer;
    outline: none;
    width: 120px;
	height: 35px;
    cursor: pointer;
}

.content-container button:hover {
    background-color: #577eb5;
    transition: 200ms;
}